/* Scss Document */
/* line 2, ../scss/screen.small.scss */
#superheader .block-backtoqueensuniversityfacultyoflaw > div {
  padding: 0;
}

/* line 5, ../scss/screen.small.scss */
#superheader .block-backtoqueensuniversityfacultyoflaw a {
  font-size: 13px;
}

/* line 8, ../scss/screen.small.scss */
#superheader .block-backtoqueensuniversityfacultyoflaw-2 > div {
  padding: 0;
}

/* line 11, ../scss/screen.small.scss */
#superheader .block-backtoqueensuniversityfacultyoflaw-2 a {
  font-size: 13px;
}

/* line 14, ../scss/screen.small.scss */
#header {
  height: auto;
}

/* line 17, ../scss/screen.small.scss */
#header > div {
  padding-top: 0;
}

/* line 21, ../scss/screen.small.scss */
body.queenslaw-sub-site #branding {
  padding: 20px;
  top: 0;
}

/* line 25, ../scss/screen.small.scss */
#branding {
  max-width: 230px;
  margin-left: 0;
}

/* line 29, ../scss/screen.small.scss */
#branding .block-logo svg,
#branding .block svg {
  height: 30px;
}

/* line 33, ../scss/screen.small.scss */
#branding .block-queensuniversity {
  padding-right: 10px;
}

/* line 36, ../scss/screen.small.scss */
#branding div + .block-logo {
  padding-left: 10px;
}

/* line 48, ../scss/screen.small.scss */
#block-mainnavigation > ul {
  padding: 0 20px;
  margin: 0 0 20px 0;
}

/* line 52, ../scss/screen.small.scss */
#header > div .header-content #block-mainnavigation .small-screen-nav-trigger {
  top: 38px;
  right: 20px;
}

/* line 56, ../scss/screen.small.scss */
body.queenslaw-sub-site #header {
  height: auto;
}

/* line 59, ../scss/screen.small.scss */
body.queenslaw-sub-site #header .submenu a {
  font-size: 16px;
}

/* line 62, ../scss/screen.small.scss */
body.has-queenslaw-alternate-teasers #main .queenslaw-teasers .teaser,
body.front #main .queenslaw-alternate-teasers .teaser:nth-child(n+4),
body.front #main .queenslaw-alternate-teasers .teaser:nth-child(4),
body.front #main .queenslaw-alternate-teasers .teaser:nth-child(5) {
  width: 100%;
  height: auto;
  min-height: 110px;
}

/* line 70, ../scss/screen.small.scss */
.view-taxonomy-term h3 + footer, .queenslaw-teasers h3 + footer {
  margin: 0;
}

/* line 74, ../scss/screen.small.scss */
.block-mailinglist-alt {
  padding: 0;
}

/* line 78, ../scss/screen.small.scss */
.block-views-block-page-title-block .page-title-image-caption,
.block-pagetitle .page-title-image-caption {
  margin-right: 0;
}

/* line 82, ../scss/screen.small.scss */
.block-views-block-page-title-block .page-title-image-caption .caption,
.block-pagetitle .page-title-image-caption .caption {
  text-align: left;
  padding: 15px 20px 0 20px;
}

/* line 88, ../scss/screen.small.scss */
.page-node-type-podcast .field--name-field-audio {
  margin: 15px 0;
}

/* line 91, ../scss/screen.small.scss */
.page-node-type-podcast .field--name-field-audio .field__label {
  display: none;
}

/* line 94, ../scss/screen.small.scss */
audio {
  max-width: 280px;
}

/* line 98, ../scss/screen.small.scss */
input[type="button"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 104, ../scss/screen.small.scss */
body.queenslaw-sub-site #header #block-mainnavigation .menu-item--statement {
  display: none !important;
}

/* line 107, ../scss/screen.small.scss */
#header > div .header-content #block-mainnavigation .submenu li a.is-active {
  color: #fff;
}
