/* line 26, ../scss/screen.scss */
body.page-learn-more div.content-container {
  max-width: 100%;
  padding: 0;
}
/* line 29, ../scss/screen.scss */
body.page-learn-more div.content-container #main {
  padding: 0;
}

/* line 34, ../scss/screen.scss */
body.queenslaw-sub-site #header {
  background-color: #11335d;
}
/* line 36, ../scss/screen.scss */
body.queenslaw-sub-site #header .menu-item--statement {
  display: none;
}

/* line 41, ../scss/screen.scss */
body.has-queenslaw-alternate-teasers #main .queenslaw-teasers .teaser.has-teaser-image > .content {
  background-color: rgba(0, 0, 0, 0.03667);
}

/* line 45, ../scss/screen.scss */
body.has-queenslaw-alternate-teasers #main .queenslaw-teasers .teaser:nth-child(4) {
  color: #000;
  text-shadow: 0px 0px 6px white;
}
/* line 48, ../scss/screen.scss */
body.has-queenslaw-alternate-teasers #main .queenslaw-teasers .teaser:nth-child(4) a {
  color: #000;
  text-shadow: 0px 0px 4px white;
  display: none;
}

/* line 55, ../scss/screen.scss */
body.has-queenslaw-alternate-teasers #main .queenslaw-teasers .teaser:nth-child(5) {
  background-color: #11335d;
}

/* line 59, ../scss/screen.scss */
body.has-queenslaw-alternate-teasers #main .queenslaw-teasers .teaser:nth-child(6) {
  display: none;
}

/* line 63, ../scss/screen.scss */
body.has-queenslaw-alternate-teasers #main .queenslaw-teasers .teaser:nth-child(7) {
  display: none;
}

/* line 67, ../scss/screen.scss */
#main .queenslaw-teasers .teaser:nth-child(4) ul.links.inline li.node-readmore a {
  border-color: #000;
}

/* line 71, ../scss/screen.scss */
#main blockquote {
  margin: 20px 220px 20px 60px;
}
/* line 73, ../scss/screen.scss */
#main blockquote .quote {
  font-size: 1.1em;
}
/* line 75, ../scss/screen.scss */
#main blockquote .quote:before {
  content: '\f10d';
  font-family: FontAwesome;
  position: relative;
  bottom: 5px;
  right: 5px;
  font-size: 0.9em;
}
/* line 85, ../scss/screen.scss */
#main blockquote .quote:nth-last-child(2):after {
  content: '\f10e';
  font-family: FontAwesome;
  position: relative;
  top: 5px;
  left: 5px;
  font-size: 0.9em;
}
/* line 95, ../scss/screen.scss */
#main blockquote .speaker {
  font-size: 0.9em;
  margin: 10px;
}
/* line 98, ../scss/screen.scss */
#main blockquote .speaker strong {
  font-size: 1em;
}

/* line 106, ../scss/screen.scss */
.node--view-mode-detail .field--name-field-category .field__items * {
  display: inline;
}
/* line 109, ../scss/screen.scss */
.node--view-mode-detail .field--name-field-category .field__item:after {
  content: ',';
}
/* line 112, ../scss/screen.scss */
.node--view-mode-detail .field--name-field-category .field__item:last-child:after {
  content: '';
}

/* line 118, ../scss/screen.scss */
body.front #main .node--view-mode-full .field {
  margin-bottom: 0;
}
/* line 122, ../scss/screen.scss */
body.front #main .queenslaw-alternate-teasers {
  /* Chrome doesn't seem to be able to do math correctly with one of the teasers floated
     right, so add a background color to conceal that fact. */
  background-color: #9d1939;
}
/* line 124, ../scss/screen.scss */
body.front #main .queenslaw-alternate-teasers .teaser .queenslaw-teasers .views-row {
  padding: 0;
  width: auto;
}
/* line 127, ../scss/screen.scss */
body.front #main .queenslaw-alternate-teasers .teaser .queenslaw-teasers .views-row .teaser-image,
body.front #main .queenslaw-alternate-teasers .teaser .queenslaw-teasers .views-row footer .bundle,
body.front #main .queenslaw-alternate-teasers .teaser .queenslaw-teasers .views-row footer .category {
  display: none;
}
/* line 132, ../scss/screen.scss */
body.front #main .queenslaw-alternate-teasers .teaser .queenslaw-teasers .views-row h4 {
  margin: 8px 0 4px 0;
  font-size: 1.25em;
}
/* line 135, ../scss/screen.scss */
body.front #main .queenslaw-alternate-teasers .teaser .queenslaw-teasers .views-row h4 a {
  font-weight: 600;
}
/* line 140, ../scss/screen.scss */
body.front #main .queenslaw-alternate-teasers .teaser .teaser.has-teaser-image > .content {
  background-color: rgba(0, 0, 0, 0.03334);
}
/* line 144, ../scss/screen.scss */
body.front #main .queenslaw-alternate-teasers .teaser:nth-child(3) {
  background-color: #eebd31;
  float: right;
  color: #333;
}
/* line 148, ../scss/screen.scss */
body.front #main .queenslaw-alternate-teasers .teaser:nth-child(3) a {
  color: #333;
}
/* line 151, ../scss/screen.scss */
body.front #main .queenslaw-alternate-teasers .teaser:nth-child(3) ul.links.inline li.node-readmore a {
  border-color: #333;
}
/* line 155, ../scss/screen.scss */
body.front #main .queenslaw-alternate-teasers .teaser:nth-child(n+4) {
  height: 400px;
}
/* line 158, ../scss/screen.scss */
body.front #main .queenslaw-alternate-teasers .teaser:nth-child(4),
body.front #main .queenslaw-alternate-teasers .teaser:nth-child(5) {
  width: 50%;
}
/* line 162, ../scss/screen.scss */
body.front #main .queenslaw-alternate-teasers .teaser:nth-child(7) {
  float: right;
}
/* line 169, ../scss/screen.scss */
body.front #main .queenslaw-alternate-teasers:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 177, ../scss/screen.scss */
#main .queenslaw-teasers ul.links.inline,
#supercontent .block-views-block-ctas-block ul.links.inline,
#supercontent .block-views-block-events-front-block ul.links.inline,
#main .block-views-block-speaker-events-front-block ul.links.inline {
  margin-bottom: 0;
}
/* line 179, ../scss/screen.scss */
#main .queenslaw-teasers ul.links.inline li.node-readmore a,
#supercontent .block-views-block-ctas-block ul.links.inline li.node-readmore a,
#supercontent .block-views-block-events-front-block ul.links.inline li.node-readmore a,
#main .block-views-block-speaker-events-front-block ul.links.inline li.node-readmore a {
  border-color: #fff;
}
/* line 182, ../scss/screen.scss */
#main .queenslaw-teasers ul.links.inline li.node-readmore a:before,
#supercontent .block-views-block-ctas-block ul.links.inline li.node-readmore a:before,
#supercontent .block-views-block-events-front-block ul.links.inline li.node-readmore a:before,
#main .block-views-block-speaker-events-front-block ul.links.inline li.node-readmore a:before {
  top: -5px;
  left: 3px;
}

/* line 189, ../scss/screen.scss */
#sidebar .node--view-mode-detail .field--name-field-link a {
  display: inline-block;
  background-color: #9d1939;
  padding: 8px 24px;
  line-height: 1;
  text-decoration: none;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
/* line 198, ../scss/screen.scss */
#sidebar .node--view-mode-detail .field--name-field-audio audio + a {
  display: block;
  margin-top: 12px;
}
/* line 202, ../scss/screen.scss */
#sidebar .node--view-mode-detail .node__meta {
  margin-bottom: 4px;
  font-size: 0.875em;
}
/* line 205, ../scss/screen.scss */
#sidebar .node--view-mode-detail .node__meta * {
  display: inline;
}
/* line 208, ../scss/screen.scss */
#sidebar .node--view-mode-detail .node__meta h3 {
  display: block;
}
/* line 211, ../scss/screen.scss */
#sidebar .node--view-mode-detail .node__meta .field__item::before,
#sidebar .node--view-mode-detail .node__meta .field__item:first-of-type:before {
  content: none;
  margin-right: 0;
}

/* line 218, ../scss/screen.scss */
.block-mailinglist-alt {
  margin-bottom: 48px;
  padding: 0 20px;
}
/* line 222, ../scss/screen.scss */
.block-mailinglist-alt form div {
  display: inline-block;
  margin: 16px 0 0 0;
}
/* line 225, ../scss/screen.scss */
.block-mailinglist-alt form div div {
  margin: 0 1em 0 0;
}
/* line 229, ../scss/screen.scss */
.block-mailinglist-alt form label {
  display: none;
}
